
.mainContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: solid 1px #CCCC;
    border-radius: 2px;
}

